<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>대기열</title>
</head>
<body>
<ul id="queueList">
  <li th:each="item : ${queueItems}" th:text="${item.id} + ': ' + ${item.status} + ' (' + ${#temporals.format(item.createdTime, 'yyyy-MM-dd HH:mm:ss')} + ')'"></li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script th:inline="javascript">
  // WebSocket 연결 설정 및 메시지 처리 로직
  const socket = new SockJS('/ws');
  const stompClient = Stomp.over(socket);
  stompClient.connect({}, connect, onError);

  function connect() {
    // ... WebSocket 연결 설정
    stompClient.subscribe("/topic/queue", function (message) {
      // 받은 메시지로 화면 업데이트
      const data = JSON.parse(message.body);
      // ... 화면 업데이트 로직
      let queueItem;
      if (data.hasOwnProperty("id")) {
        // 1: WAITING (2024-08-14 15:19:39)
        queueItem = document.createElement("li");
        const createdTimeOrg = moment(data.createdTime);
        queueItem.textContent = data.id + ": " + data.status + " (" + createdTimeOrg.format("YYYY-MM-DD HH:mm:ss") + ")";
      }
      const queueListElement = document.querySelector("#queueList");
      const liList = queueListElement.querySelectorAll("li");
      let isExist = false;
      liList.forEach(li => {
        if (li.textContent === queueItem.textContent) {
          isExist = true;
        }
      });
      if (!isExist) {
        queueListElement.appendChild(queueItem);
      }
    });
    stompClient.send("/app/queue", {}, JSON.stringify({"message": "call"}));
  }

  function onError(error) {
    alert("error");
  }
</script>
</body>
</html>